
<!-- Page Content -->
<div class="container ng-container">

    <div class="row">
        <div class="col-lg-12 img-rounded" style="background-color: #286090">
            <table class="table borderless" style="text-align: center; vertical-align:middle;color: #ffffff ">
                <col width="100%">
                <tr>
                    <td>
                        <h1>{{message}}</h1>
                    </td>

                </tr>
            </table>
        </div>
    </div>


<div class="row">
    <div class="col-sm-8">
        <h2>Welcome</h2>
        Welcome to MENG Group Project to visualize the public data from <a href="http://fingertips.phe.org.uk/profile/general-practice/data">http://fingertips.phe.org.uk/profile/general-practice/data</a>
        <hr>
        Further Documentation on this site can be found here: <a href="http://robrotheram.github.com/Documentation">robrotheram.github.com/Documentation</a>
        <hr>

        <h3>Thanks to </h3>
        <center>
            <table class="table">
                <tr>
                    <td>
                        <img src="http://wepredict.co.uk/images/en/logo.png" width="250px" s>
                    </td>
                    <td>
                        <img src="http://upload.wikimedia.org/wikipedia/en/thumb/7/7a/Swansea_University_logo.svg/800px-Swansea_University_logo.svg.png"
                             width="250px">
                    </td>
                </tr>
            </table>



        </center>
    </div>
    <div class="col-sm-4">
        <h3>Infrastructure</h3>
        The Data is being handled by a MySQL Database.
        The Data is being extracted by a custom API written in python using the Flask Lib
        The Frontend section is a HTML5 Application using the following Libs:
        <hr/>
        <ul>
            <li><a href="">Bootstrap</a></li>
            <li><a href="">Bootstrap-slider</a></li>
            <li><a href="">Highhart</a></li>
            <li><a href="">Angular</a></li>
            <li><a href="">D3</a></li>
        </ul>
    </div>
</div>
<!-- /.row -->

<hr>
    <h2>Team Members</h2>
    <hr>
<div class="row">
    <div class="col-sm-4">
        <h2 style="text-align: center">Nicolas Rees</h2>
        <hr>
        <img class="img-circle img-responsive img-center" width="300px" src="https://pbs.twimg.com/profile_images/518841549103169537/XywDsEgI_400x400.png" alt="">
    </div>
    <div class="col-sm-4">
        <h2 style="text-align: center">Robert Fletcher </h2>
        <hr>
        <img class="img-circle img-responsive img-center"  width="300px" src="http://www.gravatar.com/avatar/cb58014208df792ff42219fef0e44cc2.jpg?s=256&r=g&d=404" alt="">

    </div>
    <div class="col-sm-4">
        <h2 style="text-align: center">Jonathan Phillips</h2>
        <hr>
        <img class="img-circle img-responsive img-center" width="300px" src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAOPAAAAJDNjYzQ2ZmUwLTIyYjktNGQ2Yi1hZDIwLTA1NzU2OTgwYjBjNw.jpg" alt="">

    </div>
</div>
<!-- /.row -->

<hr>
</div>