<!-- contact.html -->
<div class="container ng-container">
    <div class="row">
       <div class="col-lg-12 img-rounded" style="background-color: #286090" ng-controller="ccgController">
           <table class="table" style="text-align: center; vertical-align:middle;color: #ffffff " border="0">
               <col width="90%"><col width="10%">
               <tr>
                   <td>
                       <h1>{{ccgname}}</h1>
                   </td>
                   <td>
                       <ccg-poly ccgid="ccgname"></ccg-poly>
                   </td>
               </tr>
           </table>
       </div>
    </div>
    <br>


    <div class="row">
        <div class="col-lg-3">

            <div class="panel panel-default ">
                <div class="panel-heading clearfix"style="background-color: #286090">
                    <h4 class="panel-title pull-left" style="color: #ffffff; padding-top: 7.5px;">Select a practice</h4>
                </div>
                <div class="panel-body" style="width:100%;"ng-controller="ccgController">
                    <select class="form-control" ng-init="practiceSelected = practiceSelected || practice[0].Practice_Name" ng-model="practiceSelected"
                            ng-options="x as x.Practice_Name for x in practice">
                    </select>
                    <br>
                    <button style="width: 100%" type="submit" ng-click="update()" class="btn btn-primary">Submit</button>
                </div>
            </div>

            <div class="panel panel-default ">
                <div class="panel-heading clearfix"style="background-color: #286090">
                    <h4 class="panel-title pull-left" style="color: #ffffff; padding-top: 7.5px;">COPD</h4>
                </div>
                <div class="panel-body" style="width:95%; padding: 20px;" ng-controller="ccgCOPDChartController">
                    <cjs-bar dataset="activeData" responsive="true"></cjs-bar>
                </div>
            </div>

            <div class="panel panel-default ">
                <div class="panel-heading clearfix"style="background-color: #286090">
                    <h4 class="panel-title pull-left" style="color: #ffffff; padding-top: 7.5px;">Asmatha</h4>
                </div>
                <div class="panel-body" style="width:95%; padding: 20px;" ng-controller="ccgAsmathaChartController">
                    <cjs-line dataset="activeData" responsive="true"></cjs-line>
                </div>
            </div>

        </div>
        <div class="col-lg-9">
            <div class="panel panel-default ">
                <div class="panel-heading clearfix"style="background-color: #286090">
                    <h4 class="panel-title pull-left" style="color: #ffffff; padding-top: 7.5px;">Over View Graph 1</h4>
                </div>
                <div class="panel-body" style="width:100%;" ng-controller="cordDiagramController">
                    <chordiagram style="width: 100%"  class="img-rounded img-thumbnail"  ccgid="ccgdata" callback-fn="alert(id,desc)" ></chordiagram>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">

            <div class="panel panel-default ">
                <div class="panel-heading clearfix"style="background-color: #286090">
                    <h4 class="panel-title pull-left" style="color: #ffffff; padding-top: 7.5px;">CHD</h4>
                </div>
                <div class="panel-body" style="width:95%; padding: 20px;" ng-controller="ccgCHDChartController">
                    <cjs-line dataset="activeData" responsive="true"></cjs-line>
                </div>
            </div>

        </div>
        <div class="col-lg-4">
            <div class="panel panel-default ">
                <div class="panel-heading clearfix"style="background-color: #286090">
                    <h4 class="panel-title pull-left" style="color: #ffffff; padding-top: 7.5px;">Obesity</h4>
                </div>
                <div class="panel-body" style="width:95%; padding: 20px;" ng-controller="ccgObesityChartController">
                    <cjs-line dataset="activeData" responsive="true"></cjs-line>
                </div>
            </div>

        </div>
        <div class="col-lg-4">
            <div class="panel panel-default ">
                <div class="panel-heading clearfix"style="background-color: #286090">
                    <h4 class="panel-title pull-left" style="color: #ffffff; padding-top: 7.5px;">Flu</h4>
                </div>
                <div class="panel-body" style="width:95%; padding: 20px;" ng-controller="ccgFluChartController">
                    <cjs-bar dataset="activeData" responsive="true"></cjs-bar>
                </div>
            </div>

        </div>
    </div>
</div>