<div class="container ng-container">
    <div class="row" style="min-height:100%;height:100%">


        <div class="col-lg-12" style="min-height:100%;height:100%">
            <div class="panel panel-default " style="min-height:100%;height:100%">
                <div class="panel-heading clearfix"style="background-color: #286090">
                    <h4 class="panel-title" style="color: #ffffff; padding-top: 7.5px;">Map of CCG Regions</h4>

                </div>
                <div class="panel-body" id="main">
                    <div class="row">
                        <div class="col-sm-8">

                            <div class="panel panel-default ">
                                <div class="panel-heading clearfix"style="background-color: #286090">
                                    <h4 class="panel-title" style="color: #ffffff; padding-top: 7.5px;">Description</h4>
                                </div>
                                <div class="panel-body" style="width:100%;">

                                    <span id="CCGData">Some infomation about QOF Data relating to the heat map</span>

                                </div>
                            </div>
                            <ccg-map id="ccgMap" style="width: 100%" class="img-rounded img-thumbnail" keyname="keyname" range="dataRange" heatmap="ccgheatmapdata" callback-fn="alert(id,desc)"></ccg-map>





                        </div>
                        <div class="col-sm-4" style="padding-left:10px;">

                            <div class="panel panel-default ">
                                <div class="panel-heading clearfix"style="background-color: #286090">
                                    <h4 class="panel-title" style="color: #ffffff; padding-top: 7.5px;">Select CCG</h4>
                                </div>
                                <div class="panel-body" style="width:100%;">
                                <div class="form-group">
                                    <select class="form-control" ng-init="ccgSelected = ccgSelected || ccg[0].CCG_Name" ng-model="ccgSelected"
                                            ng-options="x as x.CCG_Name for x in ccg">
                                    </select>
                                    <br>
                                    <button style="width: 100%" type="submit" ng-click="update()" class="btn btn-primary">Submit</button>
                                </div>
                                </div>
                            </div>


                            <div class="panel panel-default ">
                                <div class="panel-heading clearfix"style="background-color: #286090">
                                    <h4 class="panel-title" style="text-align:center; color: #ffffff; padding-top: 7.5px;">Controls</h4>
                                </div>
                                <div class="panel-body" style="width:100%;">
                                    <table border="0" class="table borderless">
                                        <tr>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" data-value="0" ng-click="COPDUpdate()" class="btn btn-default active">COPD</button>
                                                    <button type="button" data-value="0" ng-click="AsmaUpdate()" class="btn btn-default">Asthma</button>
                                                    <button type="button" data-value="0" ng-click="CHDUpdate()" class="btn btn-default">CHD</button>
                                                    <button type="button" data-value="0" ng-click="ObesityUpdate()" class="btn btn-default">Obesity</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>

                                    <table border="0" class="table borderless">
                                        <colgroup>
                                            <col width="30%">
                                            <col width="70%">

                                        </colgroup>
                                        <tr>
                                            <td>
                                                <h5>Year: {{model.first}}</h5>
                                            </td>
                                            <td>
                                                <div style="width: 100%;" slider ng-model="model.first" start=2009 end=2012></div>

                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>


                            <div class="panel panel-default ">
                                <div class="panel-heading clearfix"style="background-color: #286090">
                                    <h4 class="panel-title" style="color: #ffffff; padding-top: 7.5px;">Heat Map Legend</h4>
                                </div>
                                <div class="panel-body" style="width:100%;">
                                    <table id="keyTable" width="100%;" class="table table-bordered"> </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>